@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 499px;
  width: 320px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

img {
  height: 288px;
  width: 288px;
  border-radius: 10px;
  margin: 15px;
}
h2 {
  text-align: center;
  margin: 0 10px 0 10px;
}

p {
  padding-top: 20px;
  margin: 0px 20px 0px 20px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}
